.interface {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  margin: 1em;
  color: #fff;
}

#logo-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0.5em;
}

.logo {
  width: min(300px, 25vw);
  transform: rotate(-5deg);
  cursor: pointer;
}

#version {
  color: #f7f7f7;
  font-family: monospace;
  margin-left: 110px;
  animation: fadeOut 1s ease 10s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.win-section {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
}

.win-number {
  font-size: min(65px, 10vw);
  text-shadow: min(5px, 1vw) min(5px, 1vw) 0px #6913c5;
  width: 400px;
}

.bet-section {
  position: fixed;
  bottom: 0;
  text-align: center;
  margin: auto auto 0.2em auto;
  width: 100%;
  font-size: min(65px, 10vw);
  text-shadow: min(5px, 1vw) min(5px, 1vw) 0px #6913c5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
}

.bet-label {
  white-space: nowrap;
  pointer-events: none;
}

.bet-amount {
  width: 120px;
  white-space: nowrap;
  text-align: center;
}

#bet-controls {
  margin-left: 0.25em;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.bet-control {
  margin: 0;
  font-size: 50px;
  line-height: 31px;
  text-shadow: none;
  cursor: pointer;
  pointer-events: all;
  text-shadow: min(5px, 1vw) 0 0px #6913c5;
}

.bet-control:hover {
  color: #ffc400;
}

.coins-section {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}

.coins-number {
  font-size: min(65px, 10vw);
  width: 400px;
  text-align: right;
  text-shadow: min(5px, 1vw) min(5px, 1vw) 0px #6913c5;
}

.coins-image {
  margin-top: 1vw;
  margin-left: 1vw;
  width: min(65px, 10vw);
}
