.interface {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  margin: 1em;
  color: #fff;
}

.logo {
  width: 15em;
  transform: rotate(-5deg);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.5em;
}

.instructions {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5em;
  max-width: 15ch;
  text-align: center;
  font-size: 35px;
  animation: flash 0.3s infinite;
  animation-timing-function: steps(4, jump-both);
}

@keyframes flash {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.spins-section {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
}

.spins-number {
  font-size: 130px;
  text-shadow: 10px 10px 0px #6913c5;
  width: 400px;
}

.coins-section {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}

.coins-number {
  font-size: 130px;
  width: 400px;
  text-align: right;
  text-shadow: 10px 10px 0px #6913c5;
}

.coins-image {
  margin-top: 30px;
  margin-left: 20px;
  width: 125px;
}
