.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(31, 31, 31, 0.6);
}

.modal-box {
  background: #ffffff;
  width: min(85vw, 550px);
  height: fit-content;
  padding: 2vh min(8vw, 30px);
  border-radius: 40px;
  z-index: 3;
  text-align: center;
  box-shadow: 0 0 20px #ffffff;
}

.modal-text {
  font-family: "Inter", sans-serif;
  margin: 2vh 0;
  text-align: left;
  font-size: min(4vw, 20px);
  text-align: center;
}

.modal-image {
  width: min(6vw, 40px);
  margin: min(0.1em, 4px);
}

span {
  font-size: min(6vw, 40px);
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
  font-size: min(3vw, 20px);
}
